<header class="header">
  <nav class="navbar">
  <a [routerLink]="['/']" class="logo">
    <img src="assets/logo.png" class="logo-image">
  </a>
  <div class="search-container">
    <div class="search-bar-container">
    <input type="text" class="search-bar" placeholder="Search events...">
    <button class="search-button" type="button">
      <i class="fas fa-search"></i>
    </button>
    </div>
  </div>
  <a [routerLink]="['/sign-in']" class="sign-in">
    <i class="fas fa-user sign-in-icon"></i>
  </a>
  </nav>
</header>